@use '../../styles/variables/variables.scss' as *;

.suggestions {
    &__title {
        margin-left: 3px;
        font-weight: 700;
        font-size: 22px;
        letter-spacing: -0.02em;
        color: $black-text;
    }
}