@use '../../styles/variables/variables.scss' as *;

.list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    &__item {
        padding: 30px 28px;
        list-style-type: none;
        border-top: 1px solid $off-white;
        border-bottom: 1px solid $off-white;
        font-weight: 600;
        font-size: 18px;
        line-height: 180%;
        letter-spacing: -0.02em;
        color: $black-text;
    }
    &__active {
        background: linear-gradient(137deg, rgba(255, 199, 167, 0.2) 0%, rgba(255, 213, 121, 0.2) 100%);
    }
}